<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Admin Dashboard</title>
</head>
<body>
    <center>
        <font face="times new roman" size="7">Admin Dashboard</font>
        <hr width="40%" color="#530f61">
    </center>
    <table align="center" border="1" width="auto" cellspacing="0" cellpadding="25"  bordercolor="#91b867">
        <br>
        <tr><td>
            <font face="times new roman" size="4"><a href="addproduct.php">Add Product</a></font><br><br>
            <font face="times new roman" size="4"><a href="view-all-sales.php">View All Sales History</a></font><br><br>
            <font face="times new roman" size="4"><a href="payment-approval.php">Payment Approval</a></font><br><br>
            <font face="times new roman" size="4"><a href="addproduct.php">Block Customer</a></font><br><br>
            <font face="times new roman" size="4"><a href="addproduct.php">Recover Customer</a></font><br><br>
            <font face="times new roman" size="4"><a href="addproduct.php">Block Sales Person</a></font><br><br>
            <font face="times new roman" size="4"><a href="addproduct.php">Recover Sales Person</a></font><br><br>
            <font face="times new roman" size="4"><a href="add-sales-person.html">Add Sales Person</a></font><br>
        </td></tr>
    </table>
    <table align="right" width="30%">
        <br><br><br><br>
        <tr><td><a href="../Controller/logout-controller.php"><button>Logout</button></a></td></tr>
    </table>
</body>
</html>