<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Dashboard</title>
</head>
<body>
    <center>
        <font face="times new roman" size="6">Customer Dashboard</font>
        <hr width="35%" color="#530f61">
    </center>
    <table align="center" width="auto" border="1" cellspacing="0" cellpadding="25" align="center" bordercolor="#91b867">
    <br>
    <tr><td>
        <font face="times new roman" size="5"><a href="addproduct.php">Add Product to cart</a></font><br><br>
        <font face="times new roman" size="5"><a href="paymenthistory.php">View Payment History</a></font><br><br>
        <font face="times new roman" size="5"><a href="searchproduct.php">Search Product</a></font>
    </td></tr>
    </table>
</body>
</html>