<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <script src="../script.js"></script>
    <title>Registration Page</title>
</head>
<body>
    <center>
        <font face="Times New Roman" size="7">Registration Page</font>
        <hr width="40%" color="#530f61">
    </center>
    <form action="../Controller/registration_controller.php" method="post">
        <table align="center" width="auto" border="1" cellspacing="0" cellpadding="25" align="center" bordercolor="#91b867">
            <br>
            <tr><td><font face="Times New Roman">Customer Username:</font>&nbsp;
            <input type="text" id="name" name="name" size="25px" onkeyup="checkusername()"><br>
            <font face="times new roman" color="red" id="usernameerror"></font><br>
            <font face="Times New Roman">Customer Email: </font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" name="email" id="email" size="25px" onkeyup="checkMail()"><br>
            <font face="times new roman" color="red" id="emailerror"></font><br>
            <font face="Times New Roman">Phone Number: </font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" id="phone" name="phone" size="25px" onkeyup="checkphone()"><br>
            <font face="times new roman" color="red" id="phoneerror"></font><br>
            <font face="Times New Roman">Password: </font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="password"  id="password" name="password" size="25px" onkeyup="checkp()"><br>
            <font face="times new roman" color="red" id="passworderror"></font><br>
            <font face="Times New Roman">Re-enter Password: </font>&nbsp;&nbsp;
            <input type="password" id="repassword" name="repassword" size="25px" onkeyup="checkpassword()"><br>
            <font face="times new roman" color="red" id="repassworderror"></font><br>
            <input type="checkbox" name="termsandconditions" required> <font face="times new roman">I accept the Terms and Conditions</font><br><br>
            <button name="submit" id="submit" size="200px">Create Account</button>
            </td></tr>
        </table>
    </form>
</body>
</html>