<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
</head>
<body>
    <center>
        <font face="Times New Roman" size="6">Registration Page</font>
    </center>
    <form action="../Controller/registration_controller.php" method="post">
        <table align="center" width="40%" border="0">
            <br><br>
            <tr><td><font face="Times New Roman">Customer Name: </font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" name="name" size="25px"><br><br>
            <font face="Times New Roman">Customer Email: </font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" name="email" size="25px"><br><br>
            <font face="Times New Roman">Customer Username: </font>
            <input type="text" name="username" size="25px"><br><br>
            <font face="Times New Roman">Password: </font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="password" name="password" size="25px"><br><br>
            <font face="Times New Roman">Re-enter Password: </font>&nbsp;&nbsp;
            <input type="password" name="repassword" size="25px"><br><br>
            <button name="submit" size="200px">Create Account</button>
            </td></tr>
        </table>
    </form>
</body>
</html>