<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin Page</title>
</head>
<body>
    <center>
        <font face="Times New Roman" size="6">Login Page</font>
        <hr width="40%" color="#530f61">
    </center>
    <form action="../Controller/signin_controller.php" method="post">
        <table align="center" width="40%" border="0">
            <br>
            <tr><td>
                <font face="Times New Roman">Email: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><input type="text" name="email" size="25px"><br><br>
                <font face="Times New Roman">Password: </font><input type="password" name="password" size="25px"><br><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button name="submit">Login</button>
            </td></tr>
        </table>
    </form>
</body>
</html>